body{ background: #F4A460;}
img{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}
h1{color:blue; font-size: 32px;}

h2{color:brown; font-size: 20px;}

.cuadro{
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.cuadro{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor{
	background-color: rgb(71, 150, 187);
	display: flex;
    justify-content: flex-start;
	justify-content: flex-end;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
	justify-content: space-evenly; 
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 30px;
    margin:10px;
}